Hi {{name}},<br /><br />

We received a request to reset your {{countryName}} Carbon Registry account password.
<br /><br />

Use the link below to set a new password for your account. This password reset is only valid for the {{remainingTime}}.
<br /><br />

<a href={{pwdResetlink}}>Click here to reset the password</a>
<br /><br />

If you do not use {{countryName}} Carbon Registry or did not request a password reset, please ignore this email or contact support if you have questions.
<br /><br />

Sincerely,
<br />
The {{countryName}} Carbon Registry Team