Welcome {{organisationName}},<br>
Your Organisation has been registered with the {{countryName}} Carbon Registry as a {{organisationRole}} Organisation.<br>
Explore the System  <a href={{systemURL}}></a>  here.<br>

Sincerely,<br>
The {{countryName}} Carbon Credit Registry Team