Welcome {{organizationName}},<br>
<br>
Your Organisation has been registered with the {{countryName}} Carbon Registry as a {{organizationRole}} Organisation.<br>
Explore the System <a href={{home}}>here</a>.<br>
<br>
Sincerely,<br>
The {{countryName}} Carbon Registry Team