Welcome {{name}},<br>
<br>
Thank you for supporting the {{countryName}} Carbon Credit Registry.<br>
<br>
Your account has been successfully created on <a href={{home}}>{{home}}</a> and is currently pending activation. You will receive a notification once your account is activated. After activation, you can log in using the credentials below:<br>
<br>
<strong>Username:</strong> {{email}}<br>
<strong>Temporary Password:</strong> {{tempPassword}}<br>
<br>
Please keep this information secure.<br>
<br>
Sincerely,<br>
The {{countryName}} Carbon Credit Registry Team