Welcome {{name}},<br>
<br>
Thank you for supporting the {{countryName}} Carbon Credit Registry.<br>
<br>
Your account has been created on <a href={{home}}>{{home}}</a>, but it has not been activated yet.<br>
You will receive a notification once your account is activated. After activation, you can log in using the credentials below:<br>
<br>
User: {{email}}<br>
Password (temporary): {{tempPassword}}<br>
Please keep this information secure.<br>
<br>
Sincerely,<br>
The {{countryName}} Carbon Credit Registry Team