Dear {{name}},<br>
<br>
Your account on the {{countryName}} Carbon Credit Registry has been successfully activated on 
<a href={{home}}>{{home}}</a>. You can now log in using the credentials provided in the previous email.<br> 
<br>
If you have any questions, feel free to reach out to our support team.<br>
<br>
Sincerely,<br>
The {{countryName}} Carbon Credit Registry Team