Hi {{userName}},<br>
<br>
Verfication Report submitted by {{organisationNameIC}}<br>
Independant Certifier for the project {{projectName}} owned by {{organisationNamePD}}<br>
has been rejected by the Designated National Authority.
<br>
Remarks of Rejection:<br>
{{remarks}}<br>
You can re-submit the Project Design Document by by clicking <a href={{programmePageLink}}>here</a>.
<br>
<br>
Sincerely,<br>
The {{countryName}} Carbon Credit Registry Team.