Hi,<br>
<br>
A new Verfication Report has been submitted by {{organizationNameIC}}.<br>
Independant Certifier for the project {{projectName}} owned by your {{organizationNamePD}}.
<br>
Please review and approve by clicking <a href={{programmePageLink}}>here</a>.<br>
<br>
Sincerely,<br>
The {{countryName}} Carbon Credit Registry Team.