Hi,<br>
<br>
Validation Report submitted by {{icOrganizationName}} Independant Certifier organisation for the project {{programmeName}} owned by {{pdOrganizationName}} has been rejected by the Designated National Authority.<br>
<br>
You can re-submit the Validation Report by clicking <a href={{programmePageLink}}>here</a>.<br>
<br>
Sincerely,<br>
The {{countryName}} Carbon Registry Team